<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College ah leave ah</title>
</head>
<body>
    <h1>Message form server. . .</h1>
    <p>Now = <%=now%></p>
    <ul>
        <% for(let i=0;i<items.length;i++){ %>
            <li><%=items[i]%></li>
        <% }%>     
    </ul>
    <form action="/" method="post">
        <input type="text" name="newValue">
        <button type="submit">Send</button>
    </form>
</body>
</html>